<h2><%= @event.title %></h2>
<h3><%= @event.description %></h3>
<% @event.image.each do |image| %>
    <%= link_to image_tag(image.variant(resize: '700x700') ), image %>                           <!-- Looping through the images, find in event.rb model file -->
<% end %><br>
<%= link_to "Home", dashboard_path %>
