/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "semantic-ui";

body,html{
  height: 100%;
  font-family: 'PT Sans', sans-serif;
}

.custom {
  background-color: #302937;
}

/*@media screen and (max-width: 320px){
  #event_header{
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 720px){
  #event_header{
    font-size: 25px;
    text-align: center;
  }
}
*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 480px) {
  #event_header{
    font-size: 27px;
    margin-top: 15%;
    text-align: center;
  }
  #home_links{
    position: absolute;
    text-align: center;
    display: flex;
    transform: translate(-190px,190px);
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #event_header{
    margin-top: 10%;
    font-size: 30px;
    text-align: center;
  }
 }
 #home_links{
   margin-top: 2%;
   margin-left: 70%;
 }

@media (min-width: 1200px) {
  #event_header{
    margin-top: 8%;
    font-size: 35px;
    text-align: center;
  }
  #home_links{
    text-align: center;
    margin-top: 2%;
    margin-left: 80%;
  }
}
