// Place all the styles related to the coordinators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form_align{
  background-color: white;
  width: 500px;
  transform: translateY(65px);
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

#form_content{
  background-color: #fff6f6;
  color: #9f3a38;
  border: 1px solid #e0b4b4;
  border-radius: 5px;
  padding:2px;
  text-align: center;
}

#sign_in_body{
   background-color: #f7f7f7;
}

.close{
  float: right;
  cursor: pointer;
}
