// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing_page {
  height: 100vh;
  width: auto;
  margin:0;
  padding: 0;
  background-image: image_url('mountain.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
