// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#landing_page_image{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/assets/event_landing_page_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
